.UsersPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  row-gap: 32px;
  height: 100%;
  background-color: chartreuse;
  border: 2px yellow solid;
}
