@import "../../../assets/styles/functions.scss";
@import "../../../assets/styles/colors.scss";

.TableHeaderItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0;
  column-gap: 10px;

  h3 {
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
