@import "../../../assets/styles/functions.scss";
@import "../../../assets/styles/colors.scss";

.TableHeader {
  display: grid;
  grid-template-columns: 15.78% 14.7% 19% 16.6% 19.7% 14.22%;
  width: 98%;
  cursor: pointer;
  position: relative;
  @include tabletStyles() {
    grid-template-columns: 18.78% 18.7% 16.6% 24.7% 21.22%;
  }
  @include mobileStyles() {
    grid-template-columns: 60% 40%;
  }

  .emailHeader {
    @include tabletStyles() {
      display: none;
    }
  }

  .organizationHeader,
  .emailHeader,
  .phoneNumberHeader,
  .dateJoinedHeader {
    @include mobileStyles() {
      display: none;
    }
  }
}

.FilterOpen {
  display: block;
  position: absolute;
  z-index: 10;
}

.FilterClosed {
  display: none;
}
