@import "../assets/styles/functions.scss";
@import "../assets/styles/colors.scss";

.Sidebar {
  width: 283px;
  height: 100%;
  background-color: white;
  padding: 29px 0;
  z-index: 150;
  @include mobileStyles() {
    box-shadow: 15px 0px 15px -10px rgba(0, 0, 0, 0.75);
  }

  h2 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    padding: 20px 0 20px 30px;
  }

  .logout {
    margin: 100px 0 0 0;
  }
}
