@import "../assets/styles/functions.scss";
@import "../assets/styles/colors.scss";

.SidebarLink {
  display: flex;
  align-items: center;
  column-gap: 10px;
  width: 100%;
  height: 42px;
  padding: 10px 0 10px 30px;
  transition: all ease 0.2s;
  text-decoration: none;
  @include tabletStyles() {
    padding: 10px 0 10px 18px;
  }

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: $primary;
    cursor: pointer;
  }
}

.SidebarLink:hover {
  background-color: #39cdcc20;
  border-left: 3px solid $secondary;
}

.SidebarLinkActive {
  background-color: #39cdcc20;
  border-left: 3px solid $secondary;
  display: flex;
  align-items: center;
  column-gap: 10px;
  width: 100%;
  height: 42px;
  padding: 10px 0 10px 30px;
  @include tabletStyles() {
    padding: 10px 0 10px 18px;
  }
  transition: all ease 0.2s;
  text-decoration: none;

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: $primary;
    cursor: pointer;
  }
}
