@import "../assets/styles/functions.scss";
@import "../assets/styles/colors.scss";

.Layout {
  width: 100vw;

  .topbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .main_container {
    display: flex;
    min-height: 100vh;
    background-color: #fbfbfb;
    top: 100px;
    width: 100vw;
    position: relative;
    @include mobileStyles() {
      position: relative;
      top: 72px;
    }

    .sidebar {
      width: 283px;
      min-height: 100%;
      transition: all 0.4s ease-in-out;
      @include tabletStyles() {
        width: 250px;
      }
      @include mobileStyles() {
        position: absolute;
        left: -283px;
        top: 0;
      }
    }

    .sidebarMobileOpen {
      width: 283px;
      min-height: 100%;
      transition: all 0.4s ease-in-out;
      @include mobileStyles() {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 20;
      }
    }

    .outlet {
      flex-grow: 1;
      background-color: #fbfbfb;
    }
  }
}
