@import "../../assets/styles/functions.scss";
@import "../../assets/styles/colors.scss";

.Login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  @font-face {
    font-family: "Avenir Next Cyr";
    src: url("AvenirNextCyr-BoldItalic.eot");
    src: local("Avenir Next Cyr Bold Italic"), local("AvenirNextCyr-BoldItalic"),
      url("AvenirNextCyr-BoldItalic.eot?#iefix") format("embedded-opentype"),
      url("AvenirNextCyr-BoldItalic.woff2") format("woff2"),
      url("AvenirNextCyr-BoldItalic.woff") format("woff"),
      url("AvenirNextCyr-BoldItalic.ttf") format("truetype");
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    height: 100vh;
    padding: 0 100px;
    row-gap: 140px;
    @include mobileStyles() {
      display: none;
    }

    .Image_Container {
      display: flex;
      justify-content: start;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    height: 100vh;
    padding: 0 100px 0 167px;
    box-shadow: 0px 15px 90px rgba(0, 0, 0, 0.03);
    @include tabletStyles() {
      align-items: center;
      padding: 0;
    }
    @include mobileStyles() {
      width: 100vw;
      padding: 0 4vw;
      box-shadow: none;
      align-items: center;
      text-align: center;
    }

    header {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      align-items: start;
      justify-content: start;
      margin: 0 0 60px 0;
      text-align: left;
      @include mobileStyles() {
        text-align: center;
        align-items: center;
      }
      @include tabletStyles() {
        text-align: center;
        align-items: center;
      }

      h1 {
        font-weight: 700;
        font-size: 40px;
        @include tabletStyles() {
          font-weight: 600;
          font-size: 32px;
        }
        @include mobileStyles() {
          font-weight: 600;
          font-size: 28px;
          text-align: center;
        }
      }

      h2 {
        font-weight: 400;
        color: $light;
        font-size: 20px;
        @include mobileStyles() {
          text-align: center;
          font-size: 18px;
        }
      }

      .credentials_container {
        display: flex;
        flex-direction: column;
        row-gap: 6px;

        p {
          margin: 0;
          text-transform: none !important;
          font-size: 14px;
          line-height: 16px;
        }
      }
    }

    .input_field {
      padding: 0 16px;
      border: 2px solid rgba(84, 95, 125, 0.15);
      border-radius: 5px;
      width: 447px;
      height: 50px;
      margin: 0 0 24px 0;
      font-weight: 400;
      font-size: 14px;
      @include tabletStyles() {
        width: 360px;
      }
      @include mobileStyles() {
        width: 100%;
      }
    }

    .input_field_container {
      border: 2px solid rgba(84, 95, 125, 0.15);
      border-radius: 5px;
      width: 447px;
      height: 50px;
      margin: 0 0 24px 0;
      font-weight: 400;
      font-size: 14px;
      position: relative;
      @include tabletStyles() {
        width: 360px;
      }
      @include mobileStyles() {
        width: 100%;
      }

      input {
        width: 100%;
        height: 100%;
        border: none;
        padding: 0 16px;
      }

      .toggle {
        font-size: 12px;
        line-height: 16px;
        text-transform: uppercase;
        color: $secondary;
        font-weight: 600;
        cursor: pointer;
        margin: 0 0 0 0;
        position: absolute;
        right: 16px;
        top: 35%;
      }
    }

    p {
      font-size: 12px;
      line-height: 16px;
      text-transform: uppercase;
      color: $secondary;
      font-weight: 600;
      margin: 0 0 30px 0;
    }

    .login_btn {
      width: 447px;
      height: 50px;
      border-radius: 8px;
      text-align: center;
      color: white;
      text-transform: uppercase;
      background-color: $secondary;
      border: none;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      @include tabletStyles() {
        width: 360px;
      }
      @include mobileStyles() {
        width: 100%;
      }
    }
    .login_btn:hover {
      background-color: #6fb5b5;
    }

    h6 {
      font-size: 12px;
      line-height: 16px;
      text-transform: uppercase;
      color: red;
      font-weight: 600;
      margin: 0 0 30px 0;
    }
  }
}
