@import "../../assets/styles/functions.scss";
@import "../../assets/styles/colors.scss";

.UsersPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 40px;
  height: 100%;
  padding: 30px 60px;
  overflow-x: hidden;
  @include mobileStyles() {
    padding: 12px 4vw;
    row-gap: 24px;
  }

  h1 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    @include mobileStyles() {
      text-align: center;
    }
  }

  .InfoCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    @include tabletStyles() {
    }
    @include mobileStyles() {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 18px;
      column-gap: 18px;
    }
  }
}
